extends _layout.pug

block variables
  -
    var title = 'Изготовление'
    var description = 'Изготовление'
    var index = false
    var page = 'izgotovlenie'

block content
  include components/intro.pug
  include components/benefits.pug
  include components/catalog.pug
  include components/cta.pug
  include components/scheme.pug
  include components/guarantees.pug
  include components/portfolio.pug
  include components/map.pug
  include components/cta2.pug
