.container
  .footer__inner.row
    .footer__left.col-lg-6
      .footer__text
        p Основной офис: Москва, ул. Долгоруковская, 40 (М. Новослободская)
        p Работаем ежедневно с 10:00 до 20:00
      a.footer__addresses(href=header.addresses.href) !{header.addresses.text}
    .footer__right.col-lg-6
      .footer__text.footer__text_right
        a(href="mailto:zolotaya-tochka@yandex.ru") zolotaya-tochka@yandex.ru
        p © 2021 «Золотая точка»
      a.footer__link(href="#") Политика конфиденциальности
      p.copyright Разработано: 
        a.footer__link(href="https://1ps.ru/" target="_blank") 1PS.RU
