-
  var scheme = {
    izgotovlenie: {
      items: [
        'Оставьте заявку на изготовление ювелирных изделий – свяжемся с вами и обсудим детали.',
        'Предложите свою идею или опишите пожелания специалисту – подберем подходящий вариант.',
        'Оцените 3D-модель: если нужно, внесем корректировки и приступим к изготовлению. ',
        'Получите готовое украшение, проверьте качество и оплатите работы ',
      ],
    }
  }

.scheme#scheme
  .container
    .scheme-items.row
      each item in scheme.izgotovlenie.items
        .scheme__item.col-lg-3.col-md-6 !{item}

