-
  var services = {
    header: 'Обращайтесь в ювелирную мастерскую с любой идеей',
    subheader: 'Обязательно найдем способ реализовать ее',
    items: [
      {
        header: 'Изготовление на заказ',
        text: 'Воплотите ваши идеи в жизнь – возможно производство украшений в ювелирной мастерской как по эскизам, так и каталогу, из любых металлов и камней, доступно 3D-моделирование, чтобы заранее посмотреть модель изделия в золоте или серебре.'
      },
      {
        header: 'Ремонт и полировка украшений',
        text: 'Обновите потускневшие кольца, серьги, цепочки и прочие предметы – полировка производится при вас и не занимает много времени. Также предлагаем восстановить особо ценные экземпляры – бережно отреставрируем и вернем им первоначальный вид. '
      },
      {
        header: 'Покупка драгоценных металлов',
        text: 'Выручите деньги, если у вас есть ненужные украшения – принимаем изделия из золота, серебра, платины и других материалов. Гарантируем, что цена в нашей ювелирной мастерской выше, чем среднерыночная или в ломбардах.'
      },
    ],
  }

.services#services
  .container
    h2.services__header !{services.header}
    p.services__subheader.subheader !{services.subheader}
    .services-items.row
      each item, index in services.items
        .services__item.col-md-4
          .services__item-image-part
            img.services__item-image(src='img/services-0' + (index + 1) + '.jpg', alt='')
          .services__item-text-part
            p.services__item-header !{item.header}
            p.services__item-text !{item.text}
